.card-list {
  @extend %flex;
  column-gap: 64px;
  row-gap: 130px;
  &__item {
    width: 420px;
  }
}
.card {
  &__thumb {
    width: 420px;
    height: 280px;
    margin-bottom: 62px;
  }
  &__img {
    @extend %image;
  }
  &__text {
    color: getColor("caption");
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    margin-bottom: 32px;
  }
  &__title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
  }
}
.btn {
  @extend %text;
  @include button(getColor("text"), transparent, 1px solid getColor("text"));
  // color: getColor("text");
  // background-color: transparent;
  // border: 1px solid getColor("text");

  font-family: "Playfair Display", serif;
  padding: 20px 48px;
  margin: 90px auto 0;
}
