.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 99px;
  &__item {
    padding-top: 71px;
    padding-bottom: 86px;
  }
  &__link {
    color: getColor("nav");
    &:hover {
        color: getColor("hover");
    }
  } 
}